.header {
    background-image: url(https://images.unsplash.com/photo-1530903677198-7c9f3577a63e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1904&q=80);
    height: 810px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    background-image: url(https://images.unsplash.com/photo-1551296762-ce190333ce66?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80);
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}