.header {
    background-image: url(https://images.unsplash.com/photo-1530903677198-7c9f3577a63e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1904&q=80);
    height: 810px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    background-image: url(https://images.unsplash.com/photo-1612460862196-72dad730ded2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    height: 600px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}