.bottom-img {
    opacity: 0;
    transition: all .5s;
}

.class-card {
    box-shadow: $box-shadow;
}

.card-link {
    color: $dark;
}

.class-card:hover {
    .bottom-img {
        opacity: 1;

    }

    .card-link {
        color: $primary;
    }

    box-shadow: $box-shadow-lg;
}